{% extends 'base.html' %}

{% load custom_filters %}


{% block content %}

<!-- Displaying JSON data -->
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">

      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center mt-5 mb-4">Welcome to memelic.com</h1>
          <h3 class="text-center mb-4">alpha v{{pokerGPT_version}}</h3>     
        </div>  
      </div>            
        <div class="row">
          <div class="col-md-12">
            <h1>Add New Token Marketing Content</h1>
            <form id="contentForm" method="post" class="p-4 border rounded">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="marketing_content" class="form-label">Marketing Content:</label>
                    <textarea id="marketing_content" name="marketing_content" class="form-control" rows="4"></textarea>
                </div>
                
                <div class="mb-3">
                    <label for="contract_address" class="form-label">Contract Address:</label>
                    <input type="text" id="contract_address" name="contract_address" class="form-control">
                </div>
                
                <button type="button" onclick="submitForm()" class="btn btn-primary">Submit</button>
            </form>
            
        
            <script>
                function submitForm() {
                    var form = document.getElementById('contentForm');
                    var formData = new FormData(form);
            
                    fetch('/add-token-marketing/', {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message) {
                            alert(data.message);  // Display success message
                        } else if (data.error) {
                            alert(data.error);  // Display error message
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('An error occurred while submitting the form.');
                    });
                }
            </script>
            
</div>   
</div>
</div>
</section>   
{% endblock %}