{% extends 'base.html' %}

{% load custom_filters %}


{% block content %}

<!-- Displaying JSON data -->
<section class="py-0">
  <div class="container-fluid">
    <div class="container mt-5 text-light">

      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center mt-5 mb-4">Welcome to memelic.com</h1>
          <h3 class="text-center mb-4">alpha v{{pokerGPT_version}}</h3>     
        </div>  
      </div>            
        <div class="row">
          <div class="col-md-12">
<h1>Add New Token Marketing Content</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
</div>   
</div>
</div>
</section>   
{% endblock %}